{{ define "main" }}

<!-- teachers -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <style>

ol.conds {
    margin: 0px;
    padding: 0px 20px 20px 50px;
}

ol.conds>li {
    counter-increment: root;
    padding-bottom: 20px;
}

ol.conds>li>ol {
    counter-reset: subsection;
    list-style-type: none;
}

ol.conds>li>ol>li {
   
    line-height: 1.5em;
}

ol.conds>li>ol>li>ol {
    counter-reset: subsection;
    list-style-type: lower-alpha;
    
}

ol.conds>li>ol>li {
    counter-increment: subsection;
}

ol.conds>li>ol>li:before {
    content: counter(root) "."counter(subsection) " ";
    color: black;
}


          </style>
        <ol class="conds" style="counter-increment: subsection; list-style-type: decimal;">
          <li style=" ">
            
            <strong>DEFINITIONS</strong>
            <ol style="  ">
           
              <li value="1.1" style="">
                “Connectplay” shall mean Connectplay Limited, or any agents or employees thereof.
              </li>
              <li value="1.2"    style="">
                “Customer” shall mean the Customer, any person acting on behalf of and with the
                authority of the Customer, or any person purchasing products and services from Connectplay.</li>
              <li value="1.3" style=" " >“Products” shall mean:
                  <ol style="">
                    <li value="NaN">all Products of the general description specified on the front of this agreement and
                    supplied by Connectplay to the Customer; and</li>
                    <li value="NaN">all Products supplied by Connectplay to the Customer; and</li>
                    <li value="NaN">all inventory of the Customer that is supplied by Connectplay; and</li>
                    <li value="NaN">all Products supplied by Connectplay and further identified in any invoice issued by
                    Connectplay to the Customer, which invoices are deemed to be incorporated into and form part of
                    this agreement; and</li>
                    <li value="NaN">all Products that are marked as having been supplied by Connectplay or that are
                    stored by the Customer in a manner that enables them to be identified as having been supplied by
                    Connectplay; and</li>
                    <li value="NaN">all of the Customer’s present and after-acquired Products that Connectplay has
                    performed work on or to or in which goods or materials supplied or financed by Connectplay have
                    been attached or incorporated.</li>
                    <li value="NaN">The above descriptions may overlap but each is independent of and does not limit the
                    others.</li>
                  </ol>
                </li>
              <li value="1.4">“Products” shall also mean all products, goods, services and advice provided by
                Connectplay to the Customer and shall include without limitation the supply of computer hardware,
                components, peripherals, accessories and associated software&nbsp;and all charges for time and
                attendances, hire charges, insurance charges, or any fee or charge associated with the supply of
                Products by Connectplay to the Customer.</li>
              <li value="1.5">“Price” shall mean the cost of the Products as agreed between Connectplay and the
                Customer and includes all disbursements eg charges Connectplay pay to others on the Customer's behalf
                subject to clause 4 of this contract.</li>
            </ol>
          </li>
          <li><strong>ACCEPTANCE</strong>
            <ol>
              <li value="2.1">Any instructions received by Connectplay from the Customer for the supply of Products
                including Products that Connectplay have ordered or are required to order from overseas shal
                constitute a binding contract and acceptance to terms and conditions contained herein.</li>
              <li value="2.2">The Customer is obliged to inform Connectplay if it sells its business or if there is
                any change to its ownership structure from a shareholding, or proprietorship.&nbsp; Such a change will
                require a new application to be made to Connectplay.&nbsp; In the absence of such an application, the
                Customer remains liable for any payment.</li>
            </ol>
          </li>
          <li><strong>COLLECTION AND USE OF INFORMATION</strong>
            <ol>
              <li value="3.1">The Customer authorises Connectplay to collect, retain and use any information about the
                Customer, for the purpose of assessing the Customer’s credit worthiness, enforcing any rights under
                this contract, or marketing any Products provided by Connectplay to any other party.</li>
              <li value="3.2">The Customer authorises Connectplay to disclose any information obtained to any person
                for the purposes set out in clause 3.1.</li>
              <li value="3.3">Where the Customer is a natural person the authorities under clauses 3.1 and 3.2 are
                authorities or consents for the purposes of the Privacy Act 1993.</li>
              <li value="3.4">The Customer agrees not to disclose any information concerning the Products, pricing,
                business affairs or other trade secrets regarding Connectplay Products.</li>
            </ol>
          </li>
          <li><strong>PRICE</strong>
            <ol>
              <li value="4.1">Where no price is stated in writing or agreed to orally the Products shall be deemed to
                be sold at the current amount as such Products are sold by Connectplay at the time of the contract.
              </li>
              <li value="4.2">The price may be increased by the amount of any reasonable increase in the cost of
                supply of the Products that is beyond the control of Connectplay between the date of the contract and
                delivery of the Products.</li>
            </ol>
          </li>
          <li><strong>PAYMENT</strong>
            <ol>
              <li value="5.1">Payment for Products shall be made:<ol>
                  <li value="NaN">In cash before delivery (“the due date”);</li>
                  <li value="NaN">Where agreed by Connectplay in writing following a credit application, Connectplay
                    may extend credit to the Customer wherein payment is to be made in full within seven (7) days or
                    fourteen (14) days of supply, or by the 20<sup>th</sup> of the month following the date of the
                    invoice (“the due date”), depending on the terms specifided by Connectplay.</li>
                </ol>
              </li>
              <li value="5.2">Interest may be charged on any amount owing after the due date at the rate of 2.5% per
                month or part month.</li>
              <li value="5.3">Any expenses, disbursements and legal costs incurred by Connectplay in the enforcement
                of any rights contained in this contract shall be paid by the Customer, including any reasonable
                solicitor’s fees or debt collection agency fees.</li>
              <li value="5.4">Receipt of a cheque, bill of exchange, or other negotiable instrument shall not
                constitute payment until such negotiable instrument is paid in full.</li>
              <li value="5.5">A deposit of between 10% and 50% may be required.</li>
            </ol>
          </li>
          <li><strong>QUOTATION</strong>
            <ol>
              <li value="6.1">Where a quotation is given by Connectplay for Products:<ol>
                  <li value="NaN">Unless otherwise agreed the quotation shall be valid for five (5) days from the date
                    of issue; and</li>
                  <li value="NaN">The quotation shall be exclusive of goods and services tax unless specifically
                    stated to the contrary;</li>
                  <li value="NaN">Connectplay reserve the right to alter the quotation because of circumstances beyond
                    its control.</li>
                </ol>
              </li>
              <li value="6.2">Where Products are required in addition to the quotation the Customer agrees to pay for
                the additional cost of such Products.</li>
            </ol>
          </li>
          <li><strong>RISK</strong>
            <ol>
              <li value="7.1">The Products remain at Connectplay’s risk until delivery to the Customer.</li>
              <li value="7.2">Delivery of Products shall be deemed complete when Connectplay gives possession of the
                Products directly to the Customer or possession of the Products is given to a carrier, courier, or
                other bailee for purposes of transmission to the Customer.</li>
              <li value="7.3">The time agreed for delivery shall not be an essential term of this contract unless the
                Customer gives written notice to Connectplay making time of the essence.</li>
            </ol>
          </li>
          <li><strong>AGENCY</strong>
            <ol>
              <li value="8.1">The Customer authorises Connectplay to contract either as principal or agent for the
                provision of Products that are the matter of this contract.</li>
              <li value="8.2">Where Connectplay enters into a contract of the type referred to in clause 8.1 it shall
                be read with and form part of this agreement and the Customer agrees to pay any amounts due under that
                contract.</li>
            </ol>
          </li>
          <li><strong>TITLE AND SECURITY (PERSONAL PROPERTY SECURITIES ACT 1999)</strong>
            <ol>
              <li value="9.1">Title in any Products supplied by Connectplay passes to the Customer only when the
                Customer has made payment in full for all Products provided by Connectplay and of all other sums due
                to Connectplay by the Customer on any account whatsoever.&nbsp; Until all sums due to Connectplay by
                the Customer have been paid in full, Connectplay has a security interest in all Products.</li>
              <li value="9.2">If the Products are attached, fixed, or incorporated into any property of the Customer,
                by way of any manufacturing or assembly process by the Customer or any third party, title in the
                Products shall remain with Connectplay until the Customer has made payment for all Products, and where
                those Products are mixed with other property so as to be part of or a constituent of any new Products,
                title to these new Products shall deemed to be assigned to Connectplay as security for the full
                satisfaction by the Customer of the full amount owing between Connectplay and Customer.</li>
              <li value="9.3">The Customer gives irrevocable authority to Connectplay to enter any premises occupied
                by the Customer or on which Products are situated at any reasonable time after default by the Customer
                or before default if Connectplay believes a default is likely and to remove and repossess any Products
                and any other property to which Products are attached or in which Products are incorporated.&nbsp;
                Connectplay shall not be liable for any costs, damages, expenses or losses incurred by the Customer or
                any third party as a result of this action, nor liable in contract or in tort or otherwise in any way
                whatsoever unless by statute such liability cannot be excluded.&nbsp; Connectplay may either resell
                any repossessed Products and credit the Customer’s account with the net proceeds of sale (after
                deduction of all repossession, storage, selling and other costs) or may retain any repossessed
                Products and credit the Customer’s account with the invoice value thereof less such sum as Connectplay
                reasonably determines on account of wear and tear, depreciation, obsolescence, loss or profit and
                costs.</li>
              <li value="9.4">Where Products are retained by Connectplay pursuant to clause 9.3 the Customer waives
                the right to receive notice under s.120 of the Personal Property Securities Act 1999 (“PPSA”) and to
                object under s.121 of the PPSA.</li>
              <li value="9.5">The following shall constitute defaults by the Customer:<ol>
                  <li value="NaN">Non payment of any sum by the due date.</li>
                  <li value="NaN">The Customer intimates that it will not pay any sum by the due date.</li>
                  <li value="NaN">Any Products are seized by any other creditor of the Customer or any other creditor
                    intimates that it intends to seize Products.</li>
                  <li value="NaN">Any Products in the possession of the Customer are materially damaged while any sum
                    due from the Customer to Connectplay remains unpaid.</li>
                  <li value="NaN">The Customer is bankrupted or put into liquidation or a receiver is appointed to any
                    of the Customer’s assets or a landlord distains against any of the Customer’s assets.</li>
                  <li value="NaN">A Court judgment is entered against the Customer and remains unsatisfied for seven
                    (7) days.</li>
                  <li value="NaN">Any material adverse change in the financial position of the Customer.</li>
                </ol>
              </li>
              <li value="9.6">If the Credit Repossession Act applies to any transaction between the Customer and
                Connectplay, the Customer has the rights provided in that Act despite anything contained in these
                terms and conditions of trade.</li>
            </ol>
          </li>
          <li><strong>SECURITY INTEREST FOR SERVICE PROVIDERS</strong>
            <ol>
              <li value="10.1">The Customer gives Connectplay a security interest in all of the Customer’s present and
                after-acquired property that Connectplay has performed services on or to or in which products or
                materials supplied or financed by Connectplay have been attached or incorporated.</li>
            </ol>
          </li>
          <li><strong>PAYMENT ALLOCATION</strong>
            <ol>
              <li value="11.1">Connectplay may in its discretion allocate any payment received from the Customer
                towards any invoice that Connectplay determines and may do so at the time of receipt or at any time
                afterwards and on default by the Customer may reallocate any payments previously received and
                allocated.&nbsp; In the absense of any payment allocation by Connectplay, payment shall be deemed to
                be allocated in such manner as preserves the maximum value of Connectplay’s purchase money security
                interest in products.</li>
            </ol>
          </li>
          <li><strong>GENERAL LIEN</strong>
            <ol>
              <li value="12.1">The Customer agrees that Connectplay may exercise a general lien against any Products
                or property belonging to the Customer that is in the possession of Connectplay for all sums
                outstanding under this contract and any other contract to which the Customer and Connectplay are
                parties.</li>
              <li value="12.2">If the lien is not satisfied within seven (7) days of the due date Connectplay may,
                having given notice of the lien at its option either:<ol>
                  <li value="NaN">Remove such Products and store them in such a place and in such a manner as
                    Connectplay shall think fit and proper and at the risk and expense of the Customer; or</li>
                  <li value="NaN">Sell such Products or part thereof upon such terms as it shall think fit and apply
                    the proceeds in or towards discharge of the lien and costs of sale without being liable to any
                    person for damage caused.</li>
                </ol>
              </li>
            </ol>
          </li>
          <li><strong>DISPUTES</strong>
            <ol>
              <li value="13.1">No claim relating to Products will be considered unless made within forty eight (48)
                hours of delivery.</li>
            </ol>
          </li>
          <li><strong>RETURN OF GOODS</strong>
            <ol>
              <li value="14.1">No Products will be accepted for return without prior written authorisation from
                Connectplay.</li>
              <li value="14.2">Connectplay will only consider accepting the return of the Products provided:<ol>
                  <li value="NaN">Prior approval is obtained;</li>
                  <li value="NaN">Products for return must quote a return authorisation number (which has to be
                    applied for) and must be accompanied by a copy of the invoice;</li>
                  <li value="NaN">Products approved for return must be in the same resaleable condition and in the
                    manufacturer’s original container and undamaged.&nbsp; Connectplay reserves the right to reject
                    products not conforming to this condition;</li>
                  <li value="NaN">Products accepted for return are subject to a restocking fee of $20.00 or 3% of the
                    original invoice value whichever is the greater;</li>
                  <li value="NaN">Return freight and insurance costs must be prepaid by the Customer;</li>
                  <li value="NaN">All other conditions set out in Connectplay’s return authorisation policy are
                    complied with.</li>
                  <li value="NaN">Any refund to the Customer will be in the form of a credit note for the refund due.
                  </li>
                </ol>
              </li>
            </ol>
          </li>
          <li><strong>LIABILITY</strong>
            <ol>
              <li value="15.1">The Consumer Guarantees Act 1993, the Fair Trading Act 1986 and other statutes may
                imply warranties or conditions or impose obligations upon Connectplay which cannot by law (or which
                can only to a limited extent by law) be excluded or modified.&nbsp; In respect of any such implied
                warranties, conditions or terms imposed on Connectplay, Connectplay’s liability shall, where it is
                allowed, be excluded or if not able to be excluded only apply to the minimum extent required by the
                relevant statute.</li>
              <li value="15.2">Except as otherwise provided by clause 15.1 Connectplay shall not be liable for:<ol>
                  <li value="NaN">Any loss or damage of any kind whatsoever including consequential loss whether
                    suffered or incurred by the Customer or another person and whether in contract or tort (including
                    negligence) or otherwise and irrespective of whether such loss or damage arises directly or
                    indirectly from Products provided by Connectplay to the Customer; and</li>
                  <li value="NaN">The Customer shall indemnify Connectplay against all claims and loss of any kind
                    whatsoever however caused or arising and without limiting the generality of the foregoing of this
                    clause whether caused or arising as a result of the negligence of Connectplay or otherwise,
                    brought by any person in connection with any matter, act, omission, or error by Connectplay its
                    agents or employees in connection with the Products.</li>
                </ol>
              </li>
            </ol>
          </li>
          <li><strong>WARRANTY</strong>
            <ol>
              <li value="16.1">Any written warranty that Connectplay provide to the Customer will also form part of
                these terms and conditions of trade.</li>
              <li value="16.2">Connectplay will only provide warranty services in respect of Products that were
                supplied by Connectplay.</li>
            </ol>
          </li>
          <li><strong>CONSUMER GUARANTEES ACT</strong>
            <ol>
              <li value="17.1">The guarantees contained in the Consumer Guarantees Act 1993 are excluded where the
                Customer acquires Products from Connectplay for the purposes of a business in terms of section 2 and
                43 of that Act.</li>
              <li value="17.2">In any case where the Customer is a “supplier” then:<ol>
                  <li value="NaN">The Customer shall notify any “consumer” prior to any sale of any defects or
                    limitation in the Products and/or any common purpose for which the Products are not suitable; and
                  </li>
                  <li value="NaN">The Customer shall, to the extent of the consumer as acquiring good for the purposes
                    of the business contract out of the provisions of the Consumer Guarantees Act to the extent
                    limited by law and shall not give or make any undertaking, ascertion or representation to such
                    Customers in relation to the goods without Connectplay’s prior approval in writing.</li>
                </ol>
              </li>
            </ol>
          </li>
          <li><strong>PERSONAL GUARANTEE OF COMPANY DIRECTORS OR TRUSTEES</strong>
            <ol>
              <li value="18.1">If the Customer is a company or trust, the director(s) or trustee(s) signing this
                contract, in consideration for Connectplay agreeing to supply Products and grant credit to the
                Customer at their request, also sign this contract in their personal capacity and jointly and
                severally personally undertake as principal debtors to Connectplay the payment of any and all monies
                now or hereafter owed by the Customer to Connectplay and indemnify Connectplay against non-payment by
                the Customer.&nbsp; Any personal liability of a signatory hereto shall not exclude the Customer in any
                way whatsoever from the liabilities and obligations contained in this contract.&nbsp; The signatories
                and Customer shall be jointly and severally liable under the terms and conditions of this contract and
                for payment of all sums due hereunder.</li>
            </ol>
          </li>
          <li><strong>CANCELLATION</strong>
            <ol>
              <li value="19.1">Connectplay shall, without any liability, and without any prejudice to any other right
                it has in law or equity, have the right by notice to suspend or cancel in whole or in part any
                contract for the supply of Products to the Customer if the Customer fails to pay any money owing after
                the due date or the Customer commits an act of bankruptcy as defined in section 19 of the Insolvency
                Act 1967.</li>
              <li value="19.2">Any cancellation or suspension of this agreement shall not affect Connectplay’s claim
                for money due at the time of cancellation or suspension or for damages for any breach of any terms of
                this contract or the Customer’s obligations to Connectplay under this contract.</li>
            </ol>
          </li>
          <li><strong>MISCELLANEOUS</strong>
            <ol>
              <li value="20.1">Connectplay shall not be liable for delay or failure to perform its obligations if the
                cause of the delay or failure is beyond its control.&nbsp;</li>
              <li value="20.2">Failure by Connectplay to enforce any of the terms and conditions contained in this
                contract shall not be deemed to be a waiver of any of the rights or obligations Connectplay has under
                this contract.</li>
              <li value="20.3">If any provision of this contract shall be invalid, void or illegal or unenforceable
                the validity existence, legality and enforceability of the remaining provisions shall not be affected,
                prejudiced or impaired.</li>
              <li value="20.4">The client shall not assign all or any of its rights or obligations under this contract
                without the written consent of Connectplay.</li>
              <li value="20.5">Where these terms and conditions of trade are at variance with the order or
                instructions from the Customer these terms and conditions of trade shall prevail.</li>
            </ol>
          </li>
        </ol>
        
       
         
           
        
      </div>
    </div>
    <!-- terms list -->
    
  </div>
</section>
<!-- /s -->

{{ end }}