{{ define "main" }}

<!-- teachers -->
<section class="section">
  <div class="container">
    
   
        <style>
.c-test-device {
    line-height: 1.7;
}
.l-section__product {
    margin: 70px auto;
    max-width: 1170px;
    overflow-anchor: none;
}
.l-body__product {
    max-width: 1170px;
    margin: 0 auto;
}
.c-test-device .c-product__overview__description {
    margin: 0 0 60px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
}
.c-product__overview__description--left {
    text-align: left;
}
.c-product__overview__description {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin: 0 100px;
    text-align: center;
}
.c-product__head {
    font-size: 1.2rem;
    line-height: 3.8rem;
    text-transform: uppercase;
    font-style: normal;
    margin-bottom: 40px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    text-align: center;
}
.c-product__head:after {
    content: ' ';
    display: block;
    border-bottom: 2px solid #000;
    margin: 10px 0;
}  
.c-product__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.c-product__list {
    display: flex;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.c-product__list, .c-product__overview__content__wrapper--background {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-direction: normal;
}
ul {
    list-style: none;
}

.c-product__list, .c-product__overview__content__wrapper--background {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-direction: normal;
}
.c-product__list__item__number {
    color: #ffd100;
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin-bottom: 16px;
    display: block;
}
.c-product__list__item__number, .c-product__overview__title {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
}
.l-paragraph-space {
    margin-top: 18px;
    margin-bottom: 18px;
}
.div, .ul, .span, .p, .form{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
}
.c-product__banner--test-tr {
    text-align: left;
}
.c-product__banner {
    height: 200px;
   
    display: flex;
}
.c-product__banner {
    background-size: cover;
    background-repeat: no-repeat;
}
*, :after, :before {
    box-sizing: border-box;
}
.c-product__banner--test-tr {
    text-align: left;
}
.c-product__banner__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 768px;
}
.c-product__banner__wrapper--test-tr {
    width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}
.c-product__banner--test-tr .c-product__list__item__number {
    font-size: 10rem;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
   
}
.c-product__list__item__number {
    color: #ffbc3b;
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin-bottom: 16px;
    display: block;
}
.c-product__banner--test-tr .c-product__content {
    max-width: 600px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align:justify;
}
.c-product__form__background {
    position: relative;
    padding: 0 0 60px;
    font-size: 1.2rem;
    background-image: url(/static/avssite/gfx/backgrounds/form-bg.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-color: #fff;
    text-align: center;
    line-height: 1.2;
}
.c-test-device__form-wrapper {
    width: auto;
    text-align: center;
}
.c-test-form {
    position: relative;
    display: inline-block;
    height: 510px;
    width: 560px;
    background-color:  #ffbc3b;
    padding: 50px 70px;
    text-align: left;
    z-index: 99;
    margin-bottom: 40px;
}
.c-test-form {
    overflow: hidden;
}
.c-test-device__form-wrapper {
    width: auto;
    text-align: center;
}
input {
    outline: 0;
}
::after, ::before {
    box-sizing: inherit;
}
input[type="hidden" i] {
    display: none;
    appearance: initial;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
}

.c-product__form__title {
    font-size: 3.2rem;
    line-height: 4.3rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 30px;
}
.c-product__form__mid-title, .c-product__form__title {
    text-align: center;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.text-left {
    text-align: left!important;
}
.btn-primary-outline1 {
    border: 1px solid #ffbc3b;
    color: #ffbc3b;
    background: #f8f9fa;
}
          </style>
   <div class="c-test-device">
     <div class="l-section__product l-body__product">
            <p class="c-product__overview__description c-product__overview__description--left">TR-069 ACS works with 
                TR-069-compatible devices. However, not every device supports this protocol.
               Enter your e-mail to receive instructions on how Neuron ACS works with your device and how to connect with Neuron ACS.
            </p>
           <div>
                <h2 class="c-product__head">QUICK STEPS</h2>
                
                    <p class="c-product__overview__description l-paragraph-space">Please send a quick email to get started with the Neuron ACS</p> 
               <div>
                    
                      
                </div>

            </div>
        </div>

        {{ $data := index site.Data site.Language.Lang }}
          {{ with $data.homepage.Neuron }}
        <div class="l-section__product l-body__product">          
            <div class="c-product__banner c-product c-product__banner--test-tr">
                <div class="c-product__banner__wrapper c-product__banner__wrapper--test-tr"><span class="c-product__list__item__number"></span>
                    <p class="c-product__content"> If you want to check out the complete set of functionalities offered by Neuron ACS, <a href="{{ .link1 | absLangURL }}" > Contact us</a></p>
                        {{ if .button.enable }}
                        {{ with .button }}
                        <a href="{{ .link | absLangURL }}" class="btn btn-primary">About Neuron ACS</a>
                        {{ end }}
                        {{ end }}
                    
                </div>
              
            </div>
            <br>
        </div>
        {{ end }}
         <div class="c-product__form__background">
             <div class="c-test-device__form-wrapper">
                 <div class="c-test-form" data-module="test-form">
                     <form class="js-form" id="test-tr" action="mailto:support@connectplay.co.nz" method="POST" enctype="multipart/form-data" name="EmailForm" > 
                        <input type="hidden" name="csrfmiddlewaretoken" value="ZjC9hZe6hqCLJa6HPSScJJEEoMMx5X8eKgBjzT6MTnYryNGnlkG63e1bU0vIrhyH">
                        <h3 class="">Connect your device</h3>
                        <p class="">….and follow the instructions sent by e-mail</p>
                        <p></p>
                        <fieldset class="c-test-form__input">
                            <input id="cs-email" class="js-field-email" type="email" name="email" placeholder="Your e-mail" autocomplete="off" maxlength="256">
                        </fieldset>
                        <fieldset class="c-test-form__checkbox">
                            <input id="cs-rules" class="js-field-rules" name="agree-rules" type="checkbox">
                            <label for="cs-rules">
                                <p>I hereby agree to receive marketing information from Connectplay in the future, 
                                   I understand that I can withdraw my consent at any time by sending a declaration of 
                                  withdrawal to the following email address: support@connectplay.co.nz </p>
                            </label>
                        </fieldset>
                        <fieldset>
                            <a href="#" class="c-test-form__submit btn btn-primary-outline1 js-btn-submit" onclick="CheckVisitor(); ga('send', 'event', 'conversion', 'form', 'TR-069 TEST', );">Test your device</a>
                        </fieldset>
                        <p class="c-test-form__form-error js-form-error">          </p>
                        <input type="hidden" class="recaptchaInputHidden" name="recaptchaInputHidden" value="03AGdBq24CTFhk8dfjBMU-1rgR2pvlrK2FQEH24ObERD_otbDuC3D19xTwtwnefKokPx0f4aJWlK-qf8q_ccAIvDcW54mH_dEQxfk5iVMvPWoIoF5xYkBsz2IlV-amreybFo_U-mWc5iEt5AyJhsHPap3X_0po4QcY1MA-XKve8XCWuawTSZx6GfoGSeow928gqVLGu6klB8Ta6sy_R9zd3oeoDVINuWooKPrAH8fb0r8zEDcZt2tvuhGL10hfukqb3X18xSr3be7LSBjoWE0-2kDWdJlI4aXocMmNV_gT_cea1mw3QnEBnrG9CJmImZTNAvXuJOPrxagGMYjjmMzBRNU8QZz5_QXgBDB-U_7S72M3iyQuGyCnxvoHIec2bh7XwhKoun_oza4rWL32LbfLdwn5BwVoTqy0PZYfb-0RAxuzyVwVEZ6dKvc">
                      </form>

                        <script type="text/javascript">
                        var __ss_noform = __ss_noform || [];
                        __ss_noform.push(['baseURI', 'https://app-3QNIP22M28.marketingautomation.services/webforms/receivePostback/MzawMDE3NTIwAwA/']);
                        __ss_noform.push(['form', "test-tr", '29a897b6-3078-4356-a650-c6cd1dff58a9']);
                        __ss_noform.push(['submitType', 'manual']);

                        function CheckVisitor() {
                            __ss_noform.push(['submit', null, '29a897b6-3078-4356-a650-c6cd1dff58a9']);
                        }
                         </script>


                             <script type="text/javascript" src="https://koi-3QNIP22M28.marketingautomation.services/client/noform.js?ver=1.24">
                            </script>
                        <div class="c-test-form__success js-form-success">
                        <div class="c-test-form__inner">
                            
                            
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
        
       
         
           
     
    <!-- terms list -->
    
  </div>
</section>
<!-- /s -->

{{ end }}