{{ define "main" }}

<!-- teachers -->
<section class="section">
  <div class="container">
    
   
      
         
   <div class="c-test-device">
     <div class="l-section__product l-body__product">
            <p class="c-product__overview__description c-product__overview__description--left">TR-069 ACS works with 
                TR-069-compatible devices. However, not every device supports this protocol.
               Enter your e-mail to receive instructions on how Neuron ACS works with your device and how to connect with Neuron ACS.
            </p>
           <div>
                <h2 class="c-product__head"></h2>
                
                    <p class="c-product__overview__description l-paragraph-space">Please send a quick email to get started with the Neuron ACS <br>
                  
               <div>
                    
                      
                </div>

            </div>
        </div>
        {{ $data := index site.Data site.Language.Lang }}
        {{ with $data.homepage.Neuron }}
        
        <div class="l-section__product l-body__product">          
           
                <div class="c-product__banner__wrapper c-product__banner__wrapper--test-tr">
                    
                    
                        {{ if .button.enable }}
                        {{ with .button }}
                        <a href="{{ .link | absLangURL }}" class="btn btn-primary " style=" margin-left: 40%;">About Neuron ACS</a>
                        {{ end }}
                        {{ end }}
                    
                </div>
              
   
            <br>
        </div>
        {{ end }}
         <div class="c-product__form__background">
             <div class="c-test-device__form-wrapper">
                 <div class="c-test-form" data-module="test-form">
                     <form class="js-form" id="test-tr" action="mailto:support@connectplay.co.nz" method="POST" enctype="multipart/form-data" name="EmailForm" > 
                        <input type="hidden" name="csrfmiddlewaretoken" value="ZjC9hZe6hqCLJa6HPSScJJEEoMMx5X8eKgBjzT6MTnYryNGnlkG63e1bU0vIrhyH">
                        <h3 class="">Connect your device</h3>
                        <p class="">….and follow the instructions sent by e-mail</p>
                        <p></p>
                        <fieldset class="c-test-form__input">
                            <input id="cs-email" class="js-field-email" type="email" name="email" placeholder="Your e-mail" autocomplete="off" maxlength="256">
                        </fieldset>
                        <fieldset class="c-test-form__checkbox">
                            <input id="cs-rules" class="js-field-rules" name="agree-rules" type="checkbox">
                            <label for="cs-rules">
                                <p>I hereby agree to receive marketing information from Connectplay in the future, 
                                   I understand that I can withdraw my consent at any time by sending a declaration of 
                                  withdrawal to the following email address: support@connectplay.co.nz </p>
                            </label>
                        </fieldset>
                        <fieldset>
                            <a href="#" class="c-test-form__submit btn btn-primary-outline1 js-btn-submit" onclick="CheckVisitor(); ga('send', 'event', 'conversion', 'form', 'TR-069 TEST', );">Send</a>
                        </fieldset>
                        <p class="c-test-form__form-error js-form-error">          </p>
                        <input type="hidden" class="recaptchaInputHidden" name="recaptchaInputHidden" value="03AGdBq24CTFhk8dfjBMU-1rgR2pvlrK2FQEH24ObERD_otbDuC3D19xTwtwnefKokPx0f4aJWlK-qf8q_ccAIvDcW54mH_dEQxfk5iVMvPWoIoF5xYkBsz2IlV-amreybFo_U-mWc5iEt5AyJhsHPap3X_0po4QcY1MA-XKve8XCWuawTSZx6GfoGSeow928gqVLGu6klB8Ta6sy_R9zd3oeoDVINuWooKPrAH8fb0r8zEDcZt2tvuhGL10hfukqb3X18xSr3be7LSBjoWE0-2kDWdJlI4aXocMmNV_gT_cea1mw3QnEBnrG9CJmImZTNAvXuJOPrxagGMYjjmMzBRNU8QZz5_QXgBDB-U_7S72M3iyQuGyCnxvoHIec2bh7XwhKoun_oza4rWL32LbfLdwn5BwVoTqy0PZYfb-0RAxuzyVwVEZ6dKvc">
                      </form>

                        <script type="text/javascript">
                        var __ss_noform = __ss_noform || [];
                        __ss_noform.push(['baseURI', 'https://app-3QNIP22M28.marketingautomation.services/webforms/receivePostback/MzawMDE3NTIwAwA/']);
                        __ss_noform.push(['form', "test-tr", '29a897b6-3078-4356-a650-c6cd1dff58a9']);
                        __ss_noform.push(['submitType', 'manual']);

                        function CheckVisitor() {
                            __ss_noform.push(['submit', null, '29a897b6-3078-4356-a650-c6cd1dff58a9']);
                        }
                         </script>


                             <script type="text/javascript" src="https://koi-3QNIP22M28.marketingautomation.services/client/noform.js?ver=1.24">
                            </script>
                        <div class="c-test-form__success js-form-success">
                        <div class="c-test-form__inner">
                            
                            
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
        
       
         
           
     
    <!-- terms list -->
    
  </div>
</section>
<!-- /s -->

{{ end }}