<div class="card border-0 rounded-0 hover-shadow">
  <div class="card-img position-relative">
    <a href="{{ .Permalink }}"><img class="card-img-top rounded-0" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}" style="background: 	rgb(169,169,169);
    background: linear-gradient(90deg, rgba(128,128,128) 0%, #ffbc3b  100%);"   ></a>
    <div class="card-date"><span></span><br></div>
  </div>
  <div class="card-body">
    <!-- location -->
    <p>{{ .Params.Location | markdownify }}</p>
    <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
  </div>
</div>