{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}




<!-- teacher -->
{{ if $data.homepage.blog }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 hover-shadow" >
      
          <img src="images/logos/" alt="" class="img-responsive">
          <div class="widget-title">
              <h3 style="text-align: center;"> We're Local</h3>
              
          </div>
          <!-- end title -->
             <p class="lead" style="color:#333;text-align: center;">Kiwi owned and operated since 2002, Specializing in providing equipment, solutions and support services for broadband.</p>

          <hr> 
       
       
      </div>

      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 hover-shadow" >
        <div class="widget clearfix">
          <img src="images/logos" alt="" class="img-responsive">
          <div class="widget-title">
             <h3 style="text-align: center;">We're Modern</h3>
             
          </div>
          <!-- end title -->
          <p class="lead" style="color:#333;text-align: center;">Leveraging modern languages and  tooling we built a better<br> ACS suited for the modern <br>world. </p>

          <hr> 

        

        </div><!--widget -->
      </div>

      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 hover-shadow" >
        <div class="widget clearfix">
          <img src="images/logos" alt="" class="img-responsive">
          <div class="widget-title">
              <h3 style="text-align: center;">We're Experienced</h3>
                          
          </div>
          <!-- end title -->
          <p class="lead" style="color:#333;text-align: center;">With 15+ years experience in telecommunications  we understand the challenges of a modern ISP.</p>

          <hr> 

        

        </div><!--widget -->
      </div>
    
    </div>
  </div>
</section>
{{ end }}
<!-- /teacher -->



<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ with .Params.Image }}
        <img class="img-fluid w-100 mb-4" src="{{ . | relURL }}" alt="about image">
        {{ end }}
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- funfacts -->
{{ if $data.homepage.funfacts.enable }}
{{ with $data.homepage.funfacts }}
<section class="section-sm bg-primary">
  <div class="container">
    <div class="row">
      <!-- funfacts item -->
      {{ range .funfact_item }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="{{ .count }}">0</h2>
          <h5 class="text-white">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /funfacts -->

<!-- success story -->
{{ partial "success-story.html" . }}
<!-- /success story -->


{{ end }}