<!-- footer -->
<footer>
  <!-- ewsletter -->
  {{ if site.Params.subscription.enable }}
  {{ with site.Params.subscription }}
  
  {{ end }}
  {{ end }}
  <!-- footer content -->
  <div class="footer bg-footer section border-bottom" style="padding-top: 40px; background-color:black;">
    <div class="container" >
      <div class="row">
        <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
          <!-- logo -->
          <a class="logo-footer" href="{{ site.BaseURL | relLangURL }}"><img class="img-fluid mb-4" src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" style="width: 80%;"></a>
          <p  style= "" > Est 2002, now 18 years in ICT, providing product, service & software support systems to Telcos / ISP’s. </p>
          <p style= "">We are a 100% owned New Zealand Company, specialising in providing equipment, solutions and support services for broadband.</p>
          
        </div>
        <!-- company -->
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0" >
          <h4 class="text-white mb-5 text-uppercase">Quick Links</h4>
          <ul class="list-unstyled">
            {{ range site.Menus.main }}
            {{ if not .HasChildren }}
            <li class="mb-3" ><a class="text-color" href="{{ .URL | absLangURL }}"  style= "">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
        <!-- links -->
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5 text-uppercase">Discover</h4>
          <ul class="list-unstyled" style="">
            {{ range site.Menus.footer }}
            <li class="mb-3"><a class="" href="{{ .URL | absLangURL }}"  style= "">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <!-- support -->
        <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
          <!-- logo -->
          <h4 class="text-white mb-5 text-uppercase"> Contact Details</h4>
        
          <ul class="list-unstyled">
            <li class="mb-4"><a href= "https://www.google.com/maps/dir/-36.8945109,174.8046436/connect+play/@-36.8949697,174.7999946,17z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x6d0d48e880ec7e43:0x4992ce660883894e!2m2!1d174.801127!2d-36.8960217">{{ site.Params.address | markdownify }}</li>
            <li class="mb-4">{{ site.Params.email | markdownify }}</li>
            <li class="mb-4"><a href="tel:{{ site.Params.mobile }}">{{ site.Params.mobile | markdownify }}</a></li>
          </ul>
        </div>
        <!-- support -->
       
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="copyright py-4 bg-footer" style= "background-color: black; ">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 text-sm-left text-center">
          <p class="mb-0">{{ site.Params.copyright | markdownify }}    </p>
        
          {{ range site.Params.terms }}
          <a class="d-inline-block p-2" href="{{ .URL | absLangURL }}"> Terms & Conditions</a>
          {{ end }}
        
        </div>
        <div class="col-sm-5 text-sm-right text-center">
          <ul class="list-inline">
            {{ range site.Params.social }}
            <li class="list-inline-item"><a class="d-inline-block p-2" href="{{ .link | safeURL }}"><i class="{{ .icon }} text-primary"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

{{ "<!-- Google Map API -->" | safeHTML }}
{{ with site.Params.map.gmap_api }}
<script src="{{ . | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with site.Params.google_analitycs_id}}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}