{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- hero slider -->
{{ if $data.homepage.slider.enable }}
{{ with $data.homepage.slider }}
<section class="hero-section overlay bg-cover" data-background="{{ .bg_image | absURL }}">
  <div class="container">
    <div class="hero-slider">
      <!-- slider item -->
      {{ range .slider_item }}
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOut{{.animation_out | title }}" data-delay-out="5" data-duration-in=".3"
              data-animation-in="fadeIn{{.animation_in | title }}" data-delay-in=".1">{{ .title | markdownify }}</h1>
            <p class="text-muted mb-4" data-animation-out="fadeOut{{.animation_out | title }}" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeIn{{.animation_in | title }}" data-delay-in=".4">{{ .content | markdownify }}</p>
            {{ if .button.enable }}
            <a href="{{ .button.link | absLangURL }}" class="btn btn-primary" data-animation-out="fadeOut{{.animation_out | title }}" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeIn{{.animation_in | title }}" data-delay-in=".7">{{ .button.label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /hero slider -->

<!-- banner-feature -->
{{ if $data.homepage.banner_feature.enable }}
{{ with $data.homepage.banner_feature }}
<section class="bg-gray overflow-md-hidden">
  <div class="container-fluid p-0" style="background-color:white;align-self: center;">

    <div class="row no-gutters">
      <div class="col-xl-4 col-lg-5 align-self-end" style="background-color:white;align-self:center;padding-left: 50px;;">

        <img class="img-fluid w-100" src="{{ .image | absURL }}" alt="banner-feature" >
      </div>
      <div class="col-xl-7 col-lg-8" style="padding-left: 80px;">
        
        <h2 class="section-title col-lg-9" style= "text-align: center;">{{ .title | markdownify }}</h2>  
            <div class="row feature-blocks bg-gray justify-content-between">
          
          {{ range .feature_item }}
          <div class="row text-center text-sm-left">
            <i class="{{ .icon }} mb-xl-4 mb-lg-3 mb-4 feature-icon" style=" padding-right: 20px;"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">{{ .name | markdownify }}</h3>
            <p class="col-lg-12">{{ .content | markdownify }}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner-feature -->

<!-- about us -->
{{ if $data.homepage.about.enable }}
{{ with $data.homepage.about }}
<section class="section">
  <div class="container">
    <div class="row ">
      <div class="col-12">
        <h4 class="section-title">{{ .subtitle | markdownify }}</h4>
        <h3 class="section-title">{{ .title | markdownify }}</h3>
        
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-outline-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
      {{ with .image }}
      <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
        <img class="img-fluid w-100" src="{{ . | absURL }}" alt="about image">
      </div>
      {{ end }}
    </div>
  </div>
</section>
<section class="section" style="background-color: lightgrey;">
  <div class="container">
    <div class="row ">
      <div class="col-12">
              
        <h6 style="text-align: center;line-height:2.5;"> Internet Gateway Devices  |  VoIP Phones  |  TR-069   |   TR-369  |   Automated Configuration Server (ACS)   |   Protocol Stack supporting more than 14 protocols 
          (TR-069, TR-369, SSH, Telnet, SNMP, HTTPS, …)   |  Service Monitoring   |   WiFi Optimization   |   Service Assurance   |   
          Self-Service & Zero Touch Provisioning   |  Data Model Normalization  |   IoT Integration via API  IoT Event Stream Processing   |  IoT Device Management  
           |   Proactive Network Maintenance  |   ACS in the Cloud   |   IP Address Management (DHCPv4/v6)   |   VoIP Management   | 
        </h6>
       
      </div>
      {{ with .image }}
      
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about us -->

<!-- cours -->
{{ if $data.homepage.customers.enable }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ $data.homepage.customers.title }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
        
        </div>
      </div>
    </div>
    <!-- customers list -->
    <div class="row justify-content-center">
      <!-- customers item -->
      {{ range first 6 (where site.RegularPages "Type" "customers")}}
      <div class="col-lg-4 col-sm-6 mb-5">
        {{ .Render "customers" }}
      </div>
      {{ end }}
    </div>
    
    <div class="row justify-content-center">
      <!-- customers item -->
      
      </div class= "col-md-12">
      <div class="d-flex align-items-center section-title justify-content-between">
        <h2 class="mb-0 text-nowrap mr-3">Our Bussiness Partner</h2>
        <div class="border-top w-100 border-primary d-none d-sm-block"></div>
        <div>
          <a href="{{ `customers` | relLangURL }}" class=""></a>
        </div>
      </div>
     
        <h3 style="text-align: center;"></h3>
        <p style="text-align: center;">We provide service to telecomunication market in New Zealand using Huawei devices.  </p>
        
        <ul class="list-inline mb-2">
      
    					
          <li  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 400px ; height: auto;align-items: center;margin-left: auto; margin-right: auto;">
           <a   href="#"><img src="images/logos/huawei.png" style="width:50%; display: block; margin-left: auto; margin-right: auto; padding-top: 30px;padding-bottom:30px; "> 
          </a></li>
                

        </ul>
      </div>
    </div>
    </div>
    <!-- /customers list -->
    <!-- mobile see all button -->
    
  </div>
</section>
{{ end }}
<!-- /customers -->

<!-- cta -->
{{ if $data.homepage.cta.enable }}
{{ with $data.homepage.cta }}
<section class="section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        
        <h2 class="section-title text-white">{{ .title | markdownify }}</h2>
        <h6 class="text-white font-secondary mb-0" style="padding-bottom: 10px;">{{ .subtitle | markdownify }}</h6>
        <h6 class="text-white font-secondary mb-0" >{{ .subtitle2 | markdownify }}</h6>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-light">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /cta -->


<!-- success story -->
{{ if $data.homepage.success_story.enable }}
{{ partial "success-story.html" . }}
{{ end }}
<!-- /success story -->

<!-- CPEs-->
{{ if $data.homepage.CPEs.enable }}
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ $data.homepage.CPEs.title }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{`CPEs` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block text-nowrap">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- CPEs -->
      {{ range first 3 (where site.RegularPages "Type" "CPEs")}}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "CPEs" }}
      </div>
      {{ end }}
    </div>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{`CPEs` | relLangURL }}" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /CPEs -->

<!-- blog -->
{{ if $data.homepage.blog.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ $data.homepage.blog.title }}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- blog post -->
      {{ range first 3 (where site.RegularPages "Type" "post")}}
      <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "post" }}
      </article>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /blog -->

{{ end }}