{{ define "main" }}



<!-- device single -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ .Title }}</h2>
      </div>
      <!-- device image -->
      <div class="col-12 mb-4" style=" padding-left: 200px; padding-right: 200px; ">
        <img style="object-fit: contain; padding-left: 100px; padding-right: 100px; height: auto; width: 10%;background: 	rgb(169,169,169);
        background: linear-gradient(90deg, rgba(128,128,128) 0%,  #ffbc3b 100%);" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}" class="img-fluid w-100">
      </div>
    </div>
    <!-- device info -->
    {{ $data := index site.Data site.Language.Lang }}

{{ with $data.homepage.Contact_us }}
    <div class="row align-items-center mb-5">
      <div class="col-lg-9">
        <ul class="list-inline">
          <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
            <div class="d-flex align-items-center">
              <i class=" icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0"></h6>
                <p class="mb-0"></p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
            <div class="d-flex align-items-center">
              <i class=" text-primary icon-md mr-2"></i>
              <div class="text-left">
            <h6 class="mb-0"></h6>
                <p class="mb-0"></p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
            <div class="d-flex align-items-center">
              <i class=" text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0"></h6>
                <p class="mb-0"></p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
            <div class="d-flex align-items-center">
              <i class=" text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0"></h6>
                <p class="mb-0"></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 text-lg-right text-left">
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absURL }}" class="btn btn-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
       
      
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
  {{end}}
    <!-- device details -->
    <div class="row">
      <div class="col-12 mb-50 content">
        {{ .Content }}
      </div>
    </div>
    <!-- device speakers -->
      </div>
</section>
<!-- /device single -->

<!-- more device -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title"> </h2>
        <p></p>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- device -->
      {{ $related := (where site.RegularPages "Type" "device") | intersect (where site.Pages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) | shuffle | first 3}}
      {{ range first 3 $related }}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "device" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /more device-->

{{ end }}